.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: auto;
    height: 2rem;
}

.md-header__button.md-logo {
    padding: 0;
}

:root {
    --md-primary-fg-color:        #ffd1dc;
    --md-primary-fg-color--light: #ffd1dc;
    --md-primary-fg-color--dark:  #ffd1dc;
}

.md-header {
    color: rgba(0,0,0,1);
}